body {
    background-color:
    #cccccc;
  }
  .row {
    height: 5em;
  }
  
  #frame {
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#171616;
    margin: auto;
    text-align: center;
    width: 30em;
    height: 35em;
  }
  
  #calc-display{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size:60px;
    color: white;
    width: 100%;
    height: 100%;
  }
  
  button {
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 20px;
    background-color:#7fcc78;
    color: rgb(151, 0, 0);
    font-family: 'Roboto', sans-serif;
  }
  
  .number-button, .operation-button, .equals-button {
    width: 20%;
    height: 90%;
    margin: 0.2em;
    font-size: x-large;
  }
  
  .reset-button {
    width: 30%;
    height: 50%;
    margin: 0.2em;
    font-size: x-large;
  }